.classpath
.project
.pydevproject
/.settings/
/bin/
/logs/
/target/

/.idea/
/onboarding-app-open/onboarding-app-open.iml
/acumos-onboarding-project.iml
/onboarding-common/onboarding-common.iml
onboarding-common/3a83b347-a06b-48a9-bb15-46e6910ef2ba/
onboarding-common/520076ec-e314-4a62-8570-1aaad19a39ff/
onboarding-common/\\/
onboarding-common/afc184d8-1d7a-4d47-9fe6-c62dd3107999/
onboarding-common/d2775514-bcfd-4cfe-8712-df03fc3c3f99/
onboarding-common/e9455d41-d461-4418-b0fa-69cb8bc075d7/
onboarding-common/f87ce5cf-bff0-490a-8300-ea25c9e1d1d0/
onboarding-common/src/test/resources/atest.zip
onboarding-common/trackingId/
